@model IEnumerable<HospitalSystem.Models.Appointment>

@{
    ViewData["Title"] = "Appointment Details";
}

<h2 class="mb-4">قائمة المواعيد المحجوزة</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
          <th>Appointment ID</th>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Doctor?.FullName</td>
                <td>@item.Patient?.FullName</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>
